#root,
html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.primary-bg,
.primary-btn,
.selected-method {
  background-color: #016ec0 !important;
}

.selected-method {
  color: #fff;
}
.primary-btn {
  color: #fff !important;
}

.primary-btn,
.like {
  transition: opacity .5s ease;
}

.primary-btn:hover,
.like:hover {
  opacity: .75;
}

.pointer {
  cursor: pointer;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
  height: .6em !important;
}


label[data-shrink=false]+.MuiInputBase-formControl .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  /* height: 40px; */
  box-sizing: border-box;
}

input[type="text" i], input[type="password" i] {
  height: 1em !important;
}

.MuiFormHelperText-root {
  color: red !important;
}

.product-img {
  size: cover !important;
  width: 200px;
  height: 200px;
  background-position: center center;
}