#root,
html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.primary-bg,
.primary-btn,
.selected-method {
  background-color: #c2b280 !important;
}

.primary-btn {
  color: #000 !important;
}

.primary-btn,
.like {
  transition: opacity .5s ease;
}

.primary-btn:hover,
.like:hover {
  opacity: .75;
}

.pointer {
  cursor: pointer;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
  height: .6em !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  height: 42px;
  box-sizing: border-box;
}

.MuiFormHelperText-root {
  color: red !important;
}