:root {
    --black: #000;
    --white: #fff;
    --orange: #FF8D4D;
    --green: #1ECB4F;
    --gray: #9E9E9E;
    --lightgray: #F3F3F3;
    --brown: #c2b280;
    --blue: #016ec0;
    --red: #d32f2f;
  }